{# empty Twig template #}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        
        {% block blockTitle %}        
            <title>
                    {% block title %}Chez Marie Madeleine {% endblock %}
            </title>
        {% endblock %}
            
            <link rel="shortcut icon" href="favicon.ico"></link>    
            
        {# CSS Resources #}    
        {% stylesheets 
                filter='?lessphp, ?yui_css, cssrewrite'
                "../web/css/bootstrap.less"
                "../src/Cmm/SiteBundle/Resources/public/css/*.css"
                "../src/Cmm/UserBundle/Resources/public/css/*.css"
                output='css/style.css'
        %}    
                <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
         {% endstylesheets %}    
                
         {# Javascript Resources #}       
         {% javascripts 
                filter='?yui_js'
                "../vendor/jquery/jquery/jquery-1.10.2.js"
                "../web/js/bootstrap.min.js"
                "bundles/fosjsrouting/js/router.js"
                "js/fos_js_routes.js"
                "../src/Cmm/SiteBundle/Resources/public/js/*.js"
                "../src/Cmm/UserBundle/Resources/public/js/*.js"
                output='js/script_js.js'
            %}
                <script type="text/javascript" src="{{ asset_url }}"></script>   
            {% endjavascripts %}       
                
    </head>
    
    <body>  
        
        <div class="container-fluid">
    
        {# BLOCK HEADER #}
        {% block header %}
        
        {% endblock header %}
        
        {# BLOCK BODY #}
        {% block body %}
        
        {% endblock body %}
        
        {# BLOCK MENU DROIT #}
        {% block menu_droit %}
        
        {% endblock menu_droit %}
            
        </div>
        
    </body>
       
</html>
