{# empty Twig template #}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        
        {% block blockTitle %}        
            <title>
                    {% block title %}Chez Marie Madeleine {% endblock %}
            </title>
        {% endblock %}
                
    </head>
    
    <body>  
    
        {# BLOCK HEADER #}
        {% block header %}
        
        {% endblock header %}
        
        {# BLOCK BODY #}
        {% block body %}
        
        {% endblock body %}
        
        {# BLOCK MENU DROIT #}
        {% block menu_droit %}
        
        {% endblock menu_droit %}
    </body>
       
</html>
