{# empty Twig template #}
<div class="row-fluid" id="footer">
    
    <div class="row-fluid lvl1">
    
        <span class="span3">
            <h4 class="titreFooter">Présentation</h4>
            <p></p>
        </span>

        <span class="span3">
            <h4 class="titreFooter">Rubriques</h4>
            <p>
            <ul id="ulRub">
                <li><a href="#" title="Accueil">Accueil</a></li>
                <li><a href="#" title="La crêperie">La crêperie</a></li>
                <li><a href="#" title="La carte">La carte</a></li>
                <li><a href="#" title="Nos produits">Nos produits</a></li>
                <li><a href="#" title="Accès">Accès</a></li>
                <li><a href="#" title="Contact"></a></li>
            </ul>
            </p>
        </span>

        <span class="span3">
            <h4 class="titreFooter">Lien utiles</h4>
            <ul id="ulLienUtil">
                <li><a href="#" title="">Lien 1</a></li>
            </ul>
        </span>

        <span class="span3">
            <h4 class="titreFooter">Recherche sur le site</h4>
        </span>
        
    </div>
    
    <div class="row-fluid" id="footerCredit">
        <p>
           Mentions légales | Plan du site 
        </p>
        <p>
            Copyright.. Designed by.. blablabla.
        </p>
    </div>

</div>