{% extends "::base.html.twig" %}

{% block nav %}
<ul class="navUlPage">
    <li>
        <a href="{{ path('cmm_site_homepage') }}" title="" class="navActiveLink">Accueil</a>
    </li>
    <li>></li>
    <li>
        <a href="{{ path('cmm_site_page_acces') }}" title="Accès" class="navNoActiveLink">Accès</a>
    </li>
</ul>
{% endblock nav %}


{% block title_page %}
Accès
{% endblock title_page %}


{% block description_page %}
Dans cette rubrique vous trouverez toutes les informations pour venir à la crêperie 
en transport en commun ou en voiture.
{% endblock description_page %}

{% block contenu_page %}
<ul class="">
    <li class="pageUlContainer">
        <h5 class="subTitleRectangle"> Chez Marie-Madeleine</h5>
        <address>
            160 rue Saint-Martin<br/>
            75003 PARIS<br/>
            Téléphone :  +33612884698
        </address>
    </li>
    <li class="pageUlContainer divider-vertical"></li>
    <li class="pageUlContainer">
        <h5 class="subTitleRectangle"> Transports et Parkings</h5>
        <ul id="ulListeTransport">
            <li id="bus">
                29 - 38 - 47
            </li>
            <li id="metros">
                Rambuteau, Etienne Marcel, Chatelet-Les Halles
            </li>
            <li id="parking">
                Beaubourg Horloge, Forum des halles, Saint-Martin
            </li>
            <li id="velib">
                Station Vélib’ n° 3010
            </li>
        </ul>
    </li>
</ul>
{% endblock contenu_page %}
                                        

{% block contenu_menu_rectangle %}
{% include 'CmmSiteBundle:MenusDroit:horaire.html.twig' %}
{% include 'CmmSiteBundle:MenusDroit:moyen_paiement.html.twig' %}
{% endblock contenu_menu_rectangle %}