{% extends "::base.html.twig" %}

{% block nav %}
<ul class="navUlPage">
    <li>
        <a href="{{ path('cmm_site_homepage') }}" title="" class="navActiveLink">Accueil</a>
    </li>
    <li>></li>
    <li>
        <a href="{{ path('cmm_site_page_carte_crepes_galettes') }}" title="La carte - Nos crêpes et galettes" class="navNoActiveLink">La carte - Nos crêpes et galettes</a>
    </li>
</ul>
{% endblock nav %}

{% block title_page %}
NOS CREPES ET GALETTES
{% endblock title_page %}


{% block description_page %}
<span class="cmm">Chez Marie-Madeleine</span> vous composez vous même vos crêpes et 
galettes selon vos envies . Vous pouvez les déguster sur place ou à emporter. 
{% endblock description_page %}

{% block contenu_page %}

{#<div id="containerLaCarte">
    
    <div class="imgBg">
        <img alt="" src="{{ asset('Resources/tarifs_galettes_06.png') }}" /> 
    </div>
    
    <div class="containerListeCarte">
        <h6 class="titleCarte">GALETTES DE SARRASIN*</h6>
        
        <ul class="ulListeCarte">
            
            <li class="titleListeCarte">
                Tarifs
                <ul class="ulSubListeCarte">
                    <li>1 ingrédient : 4,50 €</li>
                    <li>2 ingrédients : 5,50 €</li>
                    <li>3 ingrédients : 6,50 €</li>
                    <li>Ingrédient supplémentaire :1,00 €</li>
                </ul>
            </li>
            
            <li class="titleListeCarte">
                Ingrédients
                <ul class="ulSubListeCarte">
                    <li>A choisir parmis :</li>
                    <li>- 8 fromages</li>
                    <li>- 7 viandes</li>
                    <li>- 2 poissons</li>
                    <li>- 9 légumes </li>
                    <li>(suivant marché)</li>
                </ul>
            </li>
        </ul>
    </div>
</div>#}

<div id="containerCarte">
    
    
    <table class="table table-condensed">
        
        <caption>GALETTES DE SARRASINS</caption>
        
        <thead>
            <tr>
                <th>Tarifs</th>
                <th>Ingrédients</th>
            </tr>
        </thead>
        
        <tbody>
            <tr>
                <td>1 ingrédient : 4,50 €</td>
                <td>A choisir parmis :</td>
            </tr>
            
            <tr>
                <td>2 ingrédients : 5,50 €</td>
                <td>- 8 fromages</td>
            </tr>
            
            <tr>
                <td>3 ingrédients : 6,50 €</td>
                <td>- 7 viandes</td>
            </tr>
            
            <tr>
                <td>Ingrédient supplémentaire :1,00 €</td>
                <td>- 2 poissons</td>
            </tr>
            
            <tr>
                <td></td>
                <td>- 9 légumes</td>
            </tr>
            
            <tr>
                <td></td>
                <td>(suivant marché)</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock contenu_page %}


{% block contenu_menu_rectangle %}
{% include 'CmmSiteBundle:MenusDroit:menu_crepe.html.twig' %}
{% include 'CmmSiteBundle:MenusDroit:horaire.html.twig' %}
{% include 'CmmSiteBundle:MenusDroit:acces.html.twig' %}
{% endblock contenu_menu_rectangle %}