{% extends "::base.html.twig" %}

{% block nav %}
<ul class="navUlPage">
    <li>
        <a href="{{ path('cmm_site_homepage') }}" title="" class="navActiveLink">Accueil</a>
    </li>
    <li>></li>
    <li>
        <a href="{{ path('cmm_site_page_carte_crepes_galettes') }}" title="La carte - Nos crêpes et galettes" class="navNoActiveLink">La carte - Nos crêpes et galettes</a>
    </li>
</ul>
{% endblock nav %}

{% block title_page %}
NOS CREPES ET GALETTES
{% endblock title_page %}


{% block description_page %}
<span class="cmm">Chez Marie-Madeleine</span> vous composez vous même vos crêpes et 
galettes selon vos envies . Vous pouvez les déguster sur place ou à emporter. 
{% endblock description_page %}

{% block contenu_page %}

<div class="containerCarte">
    <div class="fontElmt fontBarreGalette"></div>
    <table class="contenuCarte table table-condensed">
        <thead>
            <tr>
                <th>Tarifs</th>
                <th>Ingrédients</th>
            </tr>
        </thead>
        
        <tbody>
            <tr>
                <td>1 ingrédient : 4,50 €</td>
                <td>A choisir parmis :</td>
            </tr>
            
            <tr>
                <td>2 ingrédients : 5,50 €</td>
                <td>- 8 fromages</td>
            </tr>
            
            <tr>
                <td>3 ingrédients : 6,50 €</td>
                <td>- 7 viandes</td>
            </tr>
            
            <tr>
                <td>Ingrédient supp : 1,00 €</td>
                <td>- 2 poissons</td>
            </tr>
            
            <tr>
                <td></td>
                <td>- 9 légumes</td>
            </tr>
            
            <tr>
                <td></td>
                <td>(suivant marché)</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="containerCarte">
    <div class="fontElmt fontBarreCrepe"></div>
    <table class="contenuCarte table table-condensed">
        <thead>
            <tr>
                <th>Tarifs</th>
                <th>Ingrédients</th>
            </tr>
        </thead>
        
        <tbody>
            <tr>
                <td>1 ingrédient : 3,50 €</td>
                <td>A choisir parmis :</td>
            </tr>
            
            <tr>
                <td>2 ingrédients : 4,50 €</td>
                <td>30 ingrédients gourmands</td>
            </tr>
            
            <tr>
                <td>3 ingrédients : 4,50 €</td>
                <td></td>
            </tr>
            
            <tr>
                <td>Ingrédient supp : 1,00 €</td>
                <td></td>
            </tr>
            
        </tbody>
    </table>
    <span class="info">*tarifs sur place ,  pour les tarifs à emporter soustraire 0,50 €</span>
</div>
{% endblock contenu_page %}


{% block contenu_menu_rectangle %}
{% include 'CmmSiteBundle:MenusDroit:menu_crepe.html.twig' %}
{% include 'CmmSiteBundle:MenusDroit:horaire.html.twig' %}
{% include 'CmmSiteBundle:MenusDroit:acces.html.twig' %}
{% endblock contenu_menu_rectangle %}