{% extends "::base.html.twig" %}

{% block nav %}
<ul class="navUlPage">
    <li>
        <a href="{{ path('cmm_site_homepage') }}" title="" class="navActiveLink">Accueil</a>
    </li>
    <li>></li>
    <li>La crêperie</li>
    <li>></li>
    <li>
        En ce moment
    </li>
</ul>
{% endblock nav %}


{% block title_page %}
EN CE MOMENT
{% endblock title_page %}


{% block description_page %}
En ce moment <span class="cmm">Chez Marie-Madeleine</span> c’est le printemps!
{% endblock description_page %}

{% block contenu_page %}
<div class="row-fluid rectanglePage">
    <div class="span6">
        <img alt="Chez Marie-Madeleine" src="{{ asset('Resources/exemple_photo02.png') }}" />
    </div>
    
    <div class="span6">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tempus arcu vitae dolor pharetra, 
            sed fermentum massa convallis. Aenean porttitor aliquet pellentesque. Suspendisse ut neque ipsum. 
            Ut viverra elementum rutrum. Quisque pretium nulla vitae congue tempor. Ut lacinia  
        </p>
    </div>
</div>

<div class="row-fluid rectanglePage">
    <div class="span6">
        <img alt="Chez Marie-Madeleine" src="{{ asset('Resources/exemple_photo02.png') }}" />
    </div>
    
    <div class="span6">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tempus arcu vitae dolor pharetra, 
            sed fermentum massa convallis. Aenean porttitor aliquet pellentesque. Suspendisse ut neque ipsum. 
            Ut viverra elementum rutrum. Quisque pretium nulla vitae congue tempor. Ut lacinia  
        </p>
    </div>
</div>
{% endblock contenu_page %}
                                        

{% block contenu_menu_rectangle %}
{% include 'CmmSiteBundle:MenusDroit:menu_crepe.html.twig' %}
{% include 'CmmSiteBundle:MenusDroit:horaire.html.twig' %}
{% include 'CmmSiteBundle:MenusDroit:acces.html.twig' %}
{% endblock contenu_menu_rectangle %}