/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20 mars 2014, 03:55:58
    Author     : nsi
*/




#navHeader #ulNav li.element{
    display: inline-block;
    position: absolute;
    bottom: 0;
    height: 55px;
    max-height: 131px;
    overflow: visible;
}

/*
Ul nav
*/
#ulNav{
    margin: 0 auto;
    position: relative;
}

.creperieSubMenuImg{
   position: absolute;
   z-index: 1;
}

.containerSubMenuUl{
    z-index: 2;
    position: absolute;
    width: 130px;
    margin-top: 50px;
}

.subUlNav li a{
    color: #FFFFFF;
}

.subUlNav li{
    list-style-image: url('../Resources/Menu/triangle_creperie.png');
}

.subUlNav li:hover{
}
