/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20 mars 2014, 02:35:37
    Author     : nsi
*/

/*
Font pour le header
*/
@font-face{
    font-family: "Site name font";
    src: url("../Resources/webfontkit-contribute/contribute_free-version-webfont.ttf");
    font-style: italic;
}

/*
Body
*/
body{
    background-image: url('../Resources/fond.png');
}

#header img{
    vertical-align: middle;
}

/*
Header
*/
#header *{
    color: #7b410d;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
}

/*
Nom du site
*/
#nomSite{
    font-family: "Site name font";
    font-style: italic;
    font-size: 57px;
    vertical-align: middle;
}

/*
Corps Site
*/
#corpsSite > div{
    /*border:none 5px #000000;*/
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright:5px;
    -moz-border-radius-bottomleft:5px;
    -moz-border-radius-bottomright:5px;
    -webkit-border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -webkit-border-bottom-left-radius:5px;
    -webkit-border-bottom-right-radius:5px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    background-color: #FFFFFF;
    -webkit-box-shadow: 3px -3px 5px 1px #000000;
box-shadow: 3px -3px 5px 1px #000000;
    -moz-box-shadow: 3px -3px 5px 1px #000000;
    position: relative;
    z-index: 3;
}