<div class="rectangleMenuDroit">
    
    <div class="floatMenuDroit">
        <img alt="" src="{{ asset('Resources/Icons/acces_icon.png') }}" />
    </div>
    <h4 class="titleRectangle">
        ACCES
    </h4>
    <h5 class="subTitleRectangle">Chez Marie-Madeleine</h5>
    <address>
        160 rue Saint-Martin<br/>
        75003 PARIS</address>
    <p style="text-align: right;">
        <a href="{{ path('cmm_site_page_acces') }}" title="Comment venir ?">Comment venir ?</a>
    </p>
</div>