<div class="rectangleMenuDroit">
    <div class="floatMenuDroit">
        <img alt="" src="{{ asset('Resources/Icons/horaire_icon.png') }}" />
    </div>
    <h4 class="titleRectangle">
        HORAIRES
    </h4>
    <h5 class="subTitleRectangle">Service continu</h5>
    <p>
        LUN-JEU : 12h-20h<br/>
        VEN-SAM : 12h 00h<br/>
        Fermé le Dimanche
    </p>
</div>