<div class="rectangleMenuDroit" id="nosCrepesRectangle">
    <div class="floatMenuDroit iconMenuDroit">
        <img alt="" src="{{ asset('Resources/Icons/menu_icon.png') }}" />
    </div>
    <h4 class="titleRectangle">
        MENU CREPE
    </h4>
    <div id="nosCrepesMenuDroit">
        <p style="font-weight: bold;">A composer soi-même</p>
        <p>1 Galette <br/> + <br/>1 Crêpe</p>
    </div>
</div>