<div class="rectangleMenuDroit" id="nosCrepesRectangle">
    <div class="floatMenuDroit">
        <img alt="" src="{{ asset('Resources/Icons/menu_icon.png') }}" />
    </div>
    <h4 class="titleRectangle">
        MENU CREPE
    </h4>
    <div id="nosCrepesMenuDroit">
        <p style="font-weight: bold;">A composer soi-même</p>
        <p>1 Galette <br/> + <br/>1 Crêpe</p>
    </div>
    <p id="prixNosCrepes" style="display: none;">8,50 (</p>
</div>

<div class="rectangleMenuDroit">
    <div class="floatMenuDroit">
        <img alt="" src="{{ asset('Resources/Icons/horaire_icon.png') }}" />
    </div>
    <h4 class="titleRectangle">
        HORAIRES
    </h4>
    <h5 class="subTitleRectangle">Service continu</h5>
    <p>
        LUN-JEU : 12h-20h<br/>
        VEN-SAM : 12h 00h<br/>
        Fermé le Dimanche
    </p>
</div>

<div class="rectangleMenuDroit">
    
    <div class="floatMenuDroit">
        <img alt="" src="{{ asset('Resources/Icons/acces_icon.png') }}" />
    </div>
    <h4 class="titleRectangle">
        ACCES
    </h4>
    <h5 class="subTitleRectangle">Chez Marie-Madeleine</h5>
    <address>
        160 rue Saint-Martin<br/>
        75003 PARIS</address>
    <p style="text-align: right;">
        <a href="#" title="Comment venir ?">Comment venir ?</a>
    </p>
</div>