<div class="rectangleMenuDroit">
    
    <h4 class="titleRectangle">
        MOYENS DE PAIEMENT
    </h4>
    <img alt="" src="{{ asset('Resources/Icons/moyen_paiement.png') }}" />
    <h5 class="subTitleRectangle">Service continu</h5>
    <p style="color: #f9842f; font-size: 16px;">
        Attention la maison n’accepte pas la carte bleue.
    </p>
</div>