<div class="rectangleMenuDroit">
    <h4 class="titleRectangle" style="font-size: 18px; color: #7b410d;">
        NOUS RECHERCHONS DES PARTENAIRES
    </h4>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce non dui ut 
        neque hendrerit pellentesque. Donec nec urna nisl. Fusce blandit orci lacus, 
        at laoreet mi sagittis et. Curabitur adipiscing vel est id hendrerit. 
        Donec eget dictum quam, eget rutrum mi. 
    </p>
</div> 